.App {
  margin: 40px 0 0 50px;
  text-align: left;
}

.Products {
  background-color: #FFFBEF;
  border:1px solid #ADADAD;
  border-collapse: separate; 
  border-spacing: 1em;
}

.TextBox {
  margin: 0 25px 0 0;
}

.ButtonBox {
  margin: 15px 0 0 0;
}

.ErrorBox {
  display: inline-flex;
  margin: 10px 0 0 0;
}

.ErrorStartLine {
  margin: 15px 10px 0 0;
}

.ErrorText {
  color: #ef998f;
}
